@blue1: #1870FF;
@blue2: #2F54EBFF;
@green2: #19AC18;
@green3: #13C2C2FF;
@warning2: #F9BE3A;
@red3: #FF4D4F;

.blue1 {
  color: @blue1 !important;
}

.blue2 {
  color: @blue2 !important;
}

.green2 {
  color: @green2 !important;
}

.green3 {
  color: @green3 !important;
}

.warning2 {
  color: @warning2 !important;
}

.red3 {
  color: @red3 !important;
}
