@color-border: #D4D8DD;

.border-a {
  border: 1px solid @color-border !important;
}

.border-b {
  border-bottom: 1px solid @color-border !important;
}

.border-t-space + .border-t-space {
  border-top: 1px solid @color-border !important;
}

.b-r-b-50 {
  border-radius: 50% !important;
}

.b-r-4 {
  border-radius: 4px !important;
}

.b-r-6 {
  border-radius: 6px !important;
}
