<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmcorg20230301.be.engine.user.mapper.SysUserProMapper">

    <!-- 分页排序查询 -->
    <select id="myPage" resultType="com.cmcorg20230301.be.engine.user.model.vo.SysUserPageVO">

        SELECT

        a.tenant_id AS tenantId,
        a.id AS id,
        a.email AS email,
        a.sign_in_name as signInName,
        a.phone as phone,
        a.wx_open_id as wxOpenId,
        a.wx_app_id as wxAppId,
        a.create_time AS createTime,
        a.enable_flag AS enableFlag,
        IF ( a.`password` = '', 0, 1 ) AS passwordFlag,
        b.nickname AS nickname,
        b.avatar_file_id AS avatarFileId,
        b.last_active_time AS lastActiveTime,
        b.last_ip AS ip,
        b.last_region AS region,
        b.sign_up_type AS signUpType

        FROM

        sys_user a

        LEFT JOIN sys_user_info b ON b.id = a.id

        WHERE 1 = 1

        <if test="dto.id != null">
            AND a.id = #{dto.id}
        </if>

        <if test="dto.nickname != null and dto.nickname != ''">
            AND b.nickname LIKE CONCAT('%', #{dto.nickname}, '%')
        </if>

        <if test="dto.signInName != null and dto.signInName != ''">
            AND a.sign_in_name LIKE concat('%', #{dto.signInName}, '%')
        </if>

        <if test="dto.email != null and dto.email != ''">
            AND a.email LIKE concat('%', #{dto.email}, '%')
        </if>

        <if test="dto.phone != null and dto.phone != ''">
            AND a.phone LIKE concat('%', #{dto.phone}, '%')
        </if>

        <if test="dto.wxAppId != null and dto.wxAppId != ''">
            AND a.wx_app_id LIKE concat('%', #{dto.wxAppId}, '%')
        </if>

        <if test="dto.wxOpenId != null and dto.wxOpenId != ''">
            AND a.wx_open_id LIKE concat('%', #{dto.wxOpenId}, '%')
        </if>

        <if test="dto.enableFlag != null">
            AND a.enable_flag = #{dto.enableFlag}
        </if>

        <if test="dto.passwordFlag != null">
            AND IF ( a.`password` = '', 0, 1 ) = #{dto.passwordFlag}
        </if>

        <if test="dto.beginCreateTime != null">
            AND a.create_time <![CDATA[>=]]> #{dto.beginCreateTime}
        </if>

        <if test="dto.endCreateTime != null">
            AND a.create_time <![CDATA[<=]]> #{dto.endCreateTime}
        </if>

        <if test="dto.beginLastActiveTime != null">
            AND b.last_active_time <![CDATA[>=]]> #{dto.beginLastActiveTime}
        </if>

        <if test="dto.endLastActiveTime != null">
            AND b.last_active_time <![CDATA[<=]]> #{dto.endLastActiveTime}
        </if>

        <if test="dto.ip != null and dto.ip != ''">
            AND b.last_ip LIKE CONCAT('%', #{dto.ip}, '%')
        </if>

        <if test="dto.region != null and dto.region != ''">
            AND b.last_region LIKE CONCAT('%', #{dto.region}, '%')
        </if>

        <if test="dto.signUpType != null">
            AND b.sign_up_type = #{dto.signUpType}
        </if>

        <if test="dto.tenantIdSet != null and dto.tenantIdSet.size != 0">
            AND a.tenant_id IN
            <foreach collection="dto.tenantIdSet" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>

    </select>

</mapper>
